<section>
    <div class="grid sm:grid-cols-2 md:grid-cols-3  gap-10">
  @for (categories of categoriesData; track categories._id) {

    <div
    (click)="getSpecificCategories(categories._id)"
      class="w-full mx-auto max-w-sm bg-white border border-gray-200 rounded-lg  dark:bg-gray-800 dark:border-gray-700 hover:shadow-lg shadow-green-200"
    >
   
        <img
        class="w-full rounded-t-lg h-[350px]"
        [src]="categories.image"
        [alt]="categories.slug"
      />
     
      <div class="flex justify-center items-center text-3xl p-3 ">
        <h2 class="text-green-600">{{ categories.name }}</h2>
      </div>
    </div>
 
  }

</div>

@if (categoriesName) {
    <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-6  gap-10">
        @for (item of categoriesName; track item._id) {
          <div class="flex justify-center items-center border-1 rounded py-2 border-gray-900 hover:shadow-lg shadow-green-200">
              <h3 class="text-3xl text-green-600">{{ item.name}}</h3>
                  </div>
        }
      </div>
}
</section>
