<section class="w-[70%] md:w-1/2 mx-auto bg-gray-50 rounded p-4 border border-gray-300 my-10 ">
  <h2 class="text-3xl font-light text-green-600 text-center">Register Now</h2>
 <form [formGroup]="register " (ngSubmit)="submitForm()">
    <div class="mb-6">
        <label
          for="name"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Name</label
        >
        <input
        formControlName="name"
          type="text"
          id="name"
          class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"
        />
        @if (register.get('name')?.errors && register.get('name')?.touched) {<div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
            <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
            </svg>
            <span class="sr-only">Danger</span>
            <div>
             
                <ul class="mt-1.5 list-disc list-inside">
                   @if (register.get('name')?.getError('required')) {
                    <li>Name is required</li>
                   }@else if (register.get('name')?.getError('minlength')) {
                    <li>Name Should be more than or equal  3 chars</li>
                   }
                   @else if (register.get('name')?.getError('maxlength')) {
                    <li>AName Should be less than or equal  20 chars</li>
                   }
                
                  
              </ul>
            </div>
          </div>}
      </div>
    <div class="mb-6">
        <label
          for="email"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Email</label
        >
        <input
        formControlName="email"
          type="email"
          id="email"
          class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"
        />
        @if (register.get('email')?.errors && register.get('email')?.touched) {<div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
            <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
            </svg>
            <span class="sr-only">Danger</span>
            <div>
             
                <ul class="mt-1.5 list-disc list-inside">
                   @if (register.get('email')?.getError('required')) {
                    <li>email is required</li>
                   }
                   @else if (register.get('email')?.getError('email')) {
                    <li>Enter Valid email </li>
                   }
                
                  
              </ul>
            </div>
          </div>}
      </div>
    <div class="mb-6">
        <label
          for="Password"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Password</label
        >
        <input
        formControlName="password"
          type="password"
          id="Password"
          class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"
        />
        @if (register.get('password')?.errors && register.get('password')?.touched) {<div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
            <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
            </svg>
            <span class="sr-only">Danger</span>
            <div>
             
                <ul class="mt-1.5 list-disc list-inside">
                   @if (register.get('password')?.getError('required')) {
                    <li>password is required</li>
                   }
                   @else if (register.get('password')?.getError('pattern')) {
                    <li>password must start with upperCase then from 6 to more any chars  </li>
                   }
                
                  
              </ul>
            </div>
          </div>}
      </div>
    <div class="mb-6">
        <label
          for="rePassword"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >RePassword</label
        >
        <input
        formControlName="rePassword"
          type="password"
          id="rePassword"
          class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"
        />
        @if (register.getError('mismatch') && register.get('rePassword')?.touched) {<div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
            <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
            </svg>
            <span class="sr-only">Danger</span>
            <div>
             
                <ul class="mt-1.5 list-disc list-inside">
                
                  
                    <li>Password confirmation is incorrect</li>
                 
                
                  
              </ul>
            </div>
          </div>}
      </div>
    <div class="mb-6">
        <label
          for="Phone"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Phone</label
        >
        <input
        formControlName="phone"
          type="tel"
          id="Phone"
          class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"
        />
        @if (register.get('phone')?.errors && register.get('phone')?.touched) {<div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
            <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
            </svg>
            <span class="sr-only">Danger</span>
            <div>
             
                <ul class="mt-1.5 list-disc list-inside">
                   @if (register.get('phone')?.getError('required')) {
                    <li>phone is required</li>
                   }
                   @else if (register.get('phone')?.getError('pattern')) {
                    <li>accept only egypt phone numbers</li>
                   }
                
                  
              </ul>
            </div>
          </div>}
      </div>
      <button 
  [disabled]="isLoding"
      type="submit"
      class="btn-main bg-green-600  text-white px-12 py-2 border rounded hover:bg-green-800 transition-colors duration-200" >
SignUp
@if (isLoding) {
  <span>
    <i class="fas fa-spin fa-spinner"></i>
  </span>
}
      </button>
     @if (msgError) { <p class="bg-red-400 text-white px-2 py-4 w-full">{{msgError}}</p>}
     @if (isSuccess) { <p class="bg-green-400 text-white px-2 py-4 w-full">{{isSuccess}}</p>}
 </form>
</section>
